Repository MemoBlend/MemoBlend4J, pull requests merged in 2024-12, with the labels that each got.

#15 djangoとpipenvの導入
  src/backend/.gitignore
  src/backend/Pipfile
  src/backend/Pipfile.lock
  src/backend/README.md
  src/backend/config/__init__.py
  src/backend/config/__pycache__/__init__.cpython-312.pyc
  src/backend/config/__pycache__/settings.cpython-312.pyc
  src/backend/config/asgi.py
  src/backend/config/settings.py
  src/backend/config/settings_local_sample.py
  src/backend/config/urls.py
  src/backend/config/wsgi.py
  src/backend/diary/__init__.py
  src/backend/diary/admin.py
  src/backend/diary/apps.py
  src/backend/diary/migrations/__init__.py
  src/backend/diary/models.py
  src/backend/diary/tests.py
  src/backend/diary/views.py
  src/backend/manage.py
Labels: backend

#20 Issueのテンプレートを追加
  .github/ISSUE_TEMPLATE/issueテンプレート.md
Labels: 開発環境改善

#22 プルリクエストのテンプレートの追加
  .github/pull_request_template.md
Labels: 開発環境改善

#30 アトミックデザインを採用
  architecture/frontend/drawio/frontend-architecture.drawio
  architecture/frontend/img/frontend-architecture.png
Labels: アーキテクチャ, frontend

#25 README.mdを追加
  README.md
  index.md
Labels: 開発環境改善

#34 gitignoreの編集
  src/backend/.gitignore
Labels: backend

#33 backendのアーキテクチャの作成
  architecture/backend/drawio/index.drawio
  architecture/backend/index.md
  architecture/backend/memo.md
Labels: アーキテクチャ, backend

#35 backendのアーキテクチャのimgを追加
  architecture/backend/img/image.png
Labels: アーキテクチャ, backend

#38 dependabotの検知場所を適切なディレクトリに修正
  .github/dependabot.yml
Labels: dependabot

#39 Pipfileを用いた環境作成をREADME.mdに追記
  src/backend/README.md
Labels: backend

#52 depenedabot.ymlにラベルの設定を追加
  .github/dependabot.yml
Labels: 開発環境改善

#53 gitignoreとgitattributesを追加
  src/spring-backend/application-core/.gitattributes
  src/spring-backend/application-core/.gitignore
  src/spring-backend/infrastructure/.gitattributes
  src/spring-backend/infrastructure/.gitignore
  src/spring-backend/system-common/.gitattributes
  src/spring-backend/system-common/.gitignore
  src/spring-backend/web/.gitattributes
  src/spring-backend/web/.gitignore
Labels: backend

#54 アーキテクチャに合わせてフロントエンドを再構成
  src/frontend/.vscode/extensions.json
  src/frontend/README.md
  src/frontend/cypress.config.ts
  src/frontend/cypress/e2e/example.cy.ts
  src/frontend/cypress/fixtures/example.json
  src/frontend/cypress/support/commands.ts
  src/frontend/cypress/support/e2e.ts
  src/frontend/cypress/tsconfig.json
  src/frontend/eslint.config.js
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/postcss.config.js
  src/frontend/src/App.vue
  src/frontend/src/components/atoms/IconCommunity.vue
  src/frontend/src/components/atoms/IconDocumentation.vue
  src/frontend/src/components/atoms/IconEcosystem.vue
  src/frontend/src/components/atoms/IconSupport.vue
  src/frontend/src/components/atoms/IconTooling.vue
  src/frontend/src/components/organisms/HelloWorld.vue
  src/frontend/src/components/organisms/TheWelcome.vue
  src/frontend/src/components/organisms/WelcomeItem.vue
  src/frontend/src/components/testAAA.vue
  src/frontend/src/index.css
  src/frontend/src/main.ts
  src/frontend/src/models/UserDiary.ts
  src/frontend/src/pages/AboutView.vue
  src/frontend/src/pages/HomeView.vue
  src/frontend/src/plugins/vuetify.ts
  src/frontend/src/router/index.ts
  src/frontend/src/stores/counter.ts
  src/frontend/src/views/CreateView.vue
  src/frontend/src/views/DeleteView.vue
  src/frontend/src/views/DetailVIew.vue
  src/frontend/src/views/EditView.vue
  src/frontend/src/views/HomeView.vue
  src/frontend/src/views/LoginView.vue
  src/frontend/src/views/LogoutView.vue
  src/frontend/tailwind.config.js
  src/frontend/tsconfig.app.json
  src/frontend/tsconfig.json
  src/frontend/tsconfig.node.json
  src/frontend/tsconfig.vitest.json
  src/frontend/vite.config.ts
  src/frontend/vitest.config.ts
Labels: アーキテクチャ, frontend
