Repository MemoBlend/MemoBlend4J, pull requests merged in 2025-02, with the labels that each got.

#119 mapperクラスを適切な場所に再配置する
  backend/web/src/main/java/com/memoblend/web/controller/DiaryController.java
  backend/web/src/main/java/com/memoblend/web/controller/UserController.java
  backend/web/src/main/java/com/memoblend/web/controller/mapper/diary/GetDiariesResponseMapper.java
  backend/web/src/main/java/com/memoblend/web/controller/mapper/diary/GetDiaryReponseMapper.java
  backend/web/src/main/java/com/memoblend/web/controller/mapper/diary/PostDiaryRequestMapper.java
  backend/web/src/main/java/com/memoblend/web/controller/mapper/diary/PutDiaryRequestMapper.java
  backend/web/src/main/java/com/memoblend/web/controller/mapper/user/GetUserReponseMapper.java
  backend/web/src/main/java/com/memoblend/web/controller/mapper/user/GetUsersResponseMapper.java
  backend/web/src/main/java/com/memoblend/web/controller/mapper/user/PostUserRequestMapper.java
  backend/web/src/main/java/com/memoblend/web/controller/mapper/user/PutUserRequestMapper.java
Labels: backend

#120 ユーザーのdeleteとupdate機能追加
  backend/api-docs/web/api-specification.json
  backend/application-core/src/main/java/com/memoblend/applicationcore/applicationservice/UserApplicationService.java
  backend/infrastructure/src/main/java/com/memoblend/infrastructure/repository/mapper/UserMapper.java
  backend/web/src/main/java/com/memoblend/web/controller/UserController.java
Labels: backend

#137 updated_dateをdateに修正
  backend/infrastructure/src/main/java/com/memoblend/infrastructure/repository/mapper/DiaryMapper.xml
  backend/infrastructure/src/main/resources/data.sql
  backend/infrastructure/src/main/resources/schema.sql
Labels: backend

#124 日記のcrud処理に適切な例外を追加する
  backend/api-docs/web/api-specification.json
  backend/application-core/src/main/java/com/memoblend/applicationcore/applicationservice/DiaryApplicationService.java
  backend/application-core/src/main/java/com/memoblend/applicationcore/constant/ExceptionIdConstants.java
  backend/application-core/src/main/java/com/memoblend/applicationcore/constant/MessageIdConstants.java
  backend/application-core/src/main/java/com/memoblend/applicationcore/diary/DiaryAlreadyExistException.java
  backend/application-core/src/main/java/com/memoblend/applicationcore/diary/DiaryDomainService.java
  backend/application-core/src/main/resources/applicationcore/messages.properties
  backend/infrastructure/src/main/resources/data.sql
  backend/system-common/src/main/java/com/memoblend/systemcommon/util/LocalDateConverter.java
  backend/web/src/main/java/com/memoblend/web/controller/DiaryController.java
  backend/web/src/main/java/com/memoblend/web/controller/dto/diary/PostDiaryRequest.java
  backend/web/src/main/java/com/memoblend/web/controller/mapper/diary/PostDiaryRequestMapper.java
Labels: backend

#140 アプリケーションコア層に単体テストを追加する
  backend/application-core/src/test/java/com/memoblend/applicationcore/applicationservice/DiaryApplicationServiceTest.java
  backend/application-core/src/test/java/com/memoblend/applicationcore/diary/DiaryDomainServiceTest.java
  backend/infrastructure/src/main/java/com/memoblend/infrastructure/repository/mapper/UserMapper.java
Labels: backend

#141 バックエンドのPRを出した時のワークフローを追加
  .github/workflows/backend-pull-request-ut.yml
  .github/workflows/blank.yml
Labels: ci, 開発環境改善

#144 日記のCRUDのキーを日付からidに変更する
  backend/api-docs/web/api-specification.json
  backend/application-core/src/main/java/com/memoblend/applicationcore/applicationservice/DiaryApplicationService.java
  backend/application-core/src/main/java/com/memoblend/applicationcore/constant/ExceptionIdConstants.java
  backend/application-core/src/main/java/com/memoblend/applicationcore/constant/MessageIdConstants.java
  backend/application-core/src/main/java/com/memoblend/applicationcore/diary/DiaryAlreadyExistException.java
  backend/application-core/src/main/java/com/memoblend/applicationcore/diary/DiaryDomainService.java
  backend/application-core/src/main/java/com/memoblend/applicationcore/diary/DiaryNotFoundException.java
  backend/application-core/src/main/java/com/memoblend/applicationcore/diary/DiaryRepository.java
  backend/application-core/src/main/resources/applicationcore/messages.properties
  backend/application-core/src/test/java/com/memoblend/applicationcore/applicationservice/DiaryApplicationServiceTest.java
  backend/application-core/src/test/java/com/memoblend/applicationcore/diary/DiaryDomainServiceTest.java
  backend/infrastructure/src/main/java/com/memoblend/infrastructure/repository/MyBatisDiaryRepository.java
  backend/infrastructure/src/main/java/com/memoblend/infrastructure/repository/mapper/DiaryMapper.java
  backend/infrastructure/src/main/java/com/memoblend/infrastructure/repository/mapper/DiaryMapper.xml
  backend/web/src/main/java/com/memoblend/web/controller/DiaryController.java
Labels: backend

#145 日記の結合テストを自動化
  backend/web/src/test/java/com/memoblend/web/controller/DiaryControllerTest.java
Labels: backend, ci

#147 issueのconfigファイルを追加
  .github/ISSUE_TEMPLATE/config.yml
Labels: 開発環境改善

#148 Issueテンプレートの設定を変更
  .github/ISSUE_TEMPLATE/Issue_template.md
  .github/ISSUE_TEMPLATE/config.yml
Labels: 開発環境改善

#149 ユーザーのアプリケーションログの出力内容変更
  backend/api-docs/web/api-specification.json
  backend/application-core/src/main/java/com/memoblend/applicationcore/applicationservice/UserApplicationService.java
  backend/application-core/src/main/java/com/memoblend/applicationcore/constant/ExceptionIdConstants.java
  backend/application-core/src/main/java/com/memoblend/applicationcore/constant/MessageIdConstants.java
  backend/application-core/src/main/java/com/memoblend/applicationcore/user/UserAlreadyExistException.java
  backend/application-core/src/main/java/com/memoblend/applicationcore/user/UserDomainService.java
  backend/application-core/src/main/java/com/memoblend/applicationcore/user/UserNotFoundException.java
  backend/application-core/src/main/resources/applicationcore/messages.properties
  backend/infrastructure/src/main/java/com/memoblend/infrastructure/repository/mapper/UserMapper.java
  backend/web/src/main/java/com/memoblend/web/controller/DiaryController.java
  backend/web/src/main/java/com/memoblend/web/controller/UserController.java
Labels: backend

#150 ユーザーの名前のカラム名の変更
  backend/api-docs/web/api-specification.json
  backend/application-core/src/main/java/com/memoblend/applicationcore/user/User.java
  backend/infrastructure/src/main/java/com/memoblend/infrastructure/repository/MyBatisUserRepository.java
  backend/infrastructure/src/main/java/com/memoblend/infrastructure/repository/mapper/UserMapper.xml
  backend/infrastructure/src/main/resources/data.sql
  backend/infrastructure/src/main/resources/schema.sql
  backend/web/src/main/java/com/memoblend/web/controller/dto/user/GetUserResponse.java
  backend/web/src/main/java/com/memoblend/web/controller/dto/user/PostUserRequest.java
  backend/web/src/main/java/com/memoblend/web/controller/dto/user/PutUserRequest.java
  backend/web/src/main/java/com/memoblend/web/controller/mapper/user/GetUserReponseMapper.java
  backend/web/src/main/java/com/memoblend/web/controller/mapper/user/PostUserRequestMapper.java
  backend/web/src/main/java/com/memoblend/web/controller/mapper/user/PutUserRequestMapper.java
Labels: backend

#151 日記の結合テストの抜けを修正
  backend/web/src/test/java/com/memoblend/web/controller/DiaryControllerTest.java
Labels: backend

#159 Feature/userのdtoでidを入力させない
  backend/api-docs/web/api-specification.json
  backend/application-core/src/main/java/com/memoblend/applicationcore/applicationservice/UserApplicationService.java
  backend/application-core/src/main/java/com/memoblend/applicationcore/constant/ExceptionIdConstants.java
  backend/application-core/src/main/java/com/memoblend/applicationcore/user/UserAlreadyExistException.java
  backend/application-core/src/main/java/com/memoblend/applicationcore/user/UserRepository.java
  backend/application-core/src/main/resources/applicationcore/messages.properties
  backend/infrastructure/src/main/java/com/memoblend/infrastructure/repository/MyBatisUserRepository.java
  backend/infrastructure/src/main/java/com/memoblend/infrastructure/repository/mapper/UserMapper.java
  backend/infrastructure/src/main/java/com/memoblend/infrastructure/repository/mapper/UserMapper.xml
  backend/web/src/main/java/com/memoblend/web/controller/UserController.java
  backend/web/src/main/java/com/memoblend/web/controller/dto/user/PostUserRequest.java
  backend/web/src/main/java/com/memoblend/web/controller/mapper/user/PostUserRequestMapper.java
Labels: backend

#168 日記のCRUDに認可機能を追加
  backend/api-docs/web/api-specification.json
  backend/application-core/src/main/java/com/memoblend/applicationcore/applicationservice/DiaryApplicationService.java
  backend/application-core/src/main/java/com/memoblend/applicationcore/auth/PermissionDeniedException.java
  backend/application-core/src/main/java/com/memoblend/applicationcore/auth/UserStore.java
  backend/application-core/src/main/java/com/memoblend/applicationcore/constant/ExceptionIdConstants.java
  backend/application-core/src/main/java/com/memoblend/applicationcore/constant/UserRoleConstants.java
  backend/application-core/src/main/resources/applicationcore/messages.properties
  backend/application-core/src/test/java/com/memoblend/applicationcore/applicationservice/DiaryApplicationServiceTest.java
  backend/web/build.gradle
  backend/web/src/main/java/com/memoblend/web/auth/UserStoreImpl.java
  backend/web/src/main/java/com/memoblend/web/controller/DiaryController.java
  backend/web/src/main/java/com/memoblend/web/controller/advice/ExceptionHandlerControllerAdvice.java
  backend/web/src/main/java/com/memoblend/web/filter/DummyUserInjectionFilter.java
  backend/web/src/main/java/com/memoblend/web/security/WebSecurityConfig.java
  backend/web/src/test/java/com/memoblend/web/controller/DiaryControllerTest.java
Labels: backend

#170 UserAplicationServiseの単体テストの実装
  backend/application-core/src/test/java/com/memoblend/applicationcore/applicationservice/DiaryApplicationServiceTest.java
  backend/application-core/src/test/java/com/memoblend/applicationcore/applicationservice/UserApplicationServiceTest.java
Labels: backend

#175 日記のドメインサービステストから不要な記述を削除
  backend/application-core/src/test/java/com/memoblend/applicationcore/diary/DiaryDomainServiceTest.java
Labels: backend

#178 UserControllerの結合テストの実装("異常系_権限が足りない"は未対応)
  backend/web/src/test/java/com/memoblend/web/controller/UserControllerTest.java
Labels: backend

#185 ユーザーの全件取得機能の削除
  backend/api-docs/web/api-specification.json
  backend/web/src/main/java/com/memoblend/web/controller/UserController.java
Labels: backend

#186 日記とユーザーの両方でロールバック機能を追加
  backend/application-core/src/main/java/com/memoblend/applicationcore/applicationservice/DiaryApplicationService.java
  backend/application-core/src/main/java/com/memoblend/applicationcore/applicationservice/UserApplicationService.java
Labels: backend

#189 トップページを作成する
  backend/api-docs/web/api-specification.json
  backend/web/src/main/java/com/memoblend/web/controller/DiaryController.java
  frontend/diary/.env.dev
  frontend/diary/.env.prod
  frontend/diary/env.d.ts
  frontend/diary/src/App.vue
  frontend/diary/src/api-client/index.ts
  frontend/diary/src/components/HelloWorld.vue
  frontend/diary/src/components/TheWelcome.vue
  frontend/diary/src/components/WelcomeItem.vue
  frontend/diary/src/components/atoms/DiaryIcon.vue
  frontend/diary/src/components/atoms/HamburgerMenuIcon.vue
  frontend/diary/src/components/atoms/XMarkIcon.vue
  frontend/diary/src/components/icons/IconCommunity.vue
  frontend/diary/src/components/icons/IconDocumentation.vue
  frontend/diary/src/components/icons/IconEcosystem.vue
  frontend/diary/src/components/icons/IconSupport.vue
  frontend/diary/src/components/icons/IconTooling.vue
  frontend/diary/src/generated/api-client/.openapi-generator/FILES
  frontend/diary/src/generated/api-client/api/diary-api.ts
  frontend/diary/src/generated/api-client/configuration.ts
  frontend/diary/src/generated/api-client/models/diary.ts
  frontend/diary/src/generated/api-client/models/get-diaries-response.ts
  frontend/diary/src/generated/api-client/models/get-diary-response.ts
  frontend/diary/src/generated/api-client/models/index.ts
  frontend/diary/src/router/index.ts
  frontend/diary/src/services/diary/diary-service.ts
  frontend/diary/src/views/AboutView.vue
  frontend/diary/src/views/HomeView.vue
  frontend/diary/src/views/diary/DiariesView.vue
  frontend/package-lock.json
  frontend/package.json
Labels: backend, frontend
